@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <div>
        <h3><b>Name:</b>@TempData["Name"]</h3>
        <hr />
        <h3><b>Designation:</b>@TempData["Designation"]</h3>
        
    </div>
</div>

